<div class="show">
  <table class="table table-striped">
    <tr>
      <td class="row-right">
        <strong>Freight 1:</strong>
      </td>
      <td>
        <%= @entry.freight1 %>
      </td>

      <td class="row-right">
        <strong>Cash to Driver:</strong>
      </td>
      <td>
        <%= @entry.cash_to_driver %>
      </td>
    </tr>

    <tr>
      <td class="row-right">
        <strong>Paid to Truck Owner:</strong>
      </td>
      <td>
        <%= @entry.paid_to_truck_owner %>
      </td>
    </tr>
    <tr>

  </table>
</div>
