<div class="show">
  <table class="table table-striped">
    <tr>
      <td class="row-right">
        <strong>Bill No:</strong>
      </td>
      <td>
        <%= @entry.bill_entry.bill_no %>
      </td>

      <td class="row-right">
        <strong>TDS %:</strong>
      </td>
      <td>
        <%= @entry.bill_entry.tds_percentage %>
      </td>
    </tr>



      <td class="row-right">
        <strong>Payment Received At:</strong>
      </td>
      <td>
        <%= @entry.bill_entry.payment_received_at %>
      </td>
    </tr>
  </table>
</div>
