/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  border: solid thin #000000;
}