<!DOCTYPE html>
<html>
  <head>
    <title>Envato Invoices</title>
    <style>
      <%= Rails.application.assets['application.scss'].to_s %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>