<!DOCTYPE html>
<html>
  <head>
    <title>Invoices</title>
    <style>
      <%= Rails.application.assets_manifest.assets["application.css"] %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>